body{
  margin: 0;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}

.header h1{
  margin-right:auto;
}

@media only screen and (max-width: 767px) {
  .header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
  }

  .header .head_btn01{
    width: 70px;
    font-size: 11px;
    text-align: center;
    background-color:palevioletred;
    color: white;
    padding: 10px;
    margin: 10px; 
  }

  .header .head_btn02{
    width: 70px;
    font-size: 11px;
    text-align: center;
    background-color:green;
    color: white;
    padding: 10px;
    margin: 10px;
  }
  
  .header h1{
    font-size: 14px;
    margin-right:auto;
  }
}

.wrapper{
  max-width: 1200px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media only screen and (max-width:1199px) {
  .wrapper{
    padding-right: 40px;
    padding-left: 40px;
  }
}

@media only screen and (max-width:767px) {
  .wrapper{
    padding-right: 10px;
    padding-left: 10px;
  }
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
}

.head_btn01{
  width: 200px;
  text-align: center;
  background-color:palevioletred;
  color: white;
  padding: 20px;
  margin: 10px;
}

.head_btn02{
  width: 200px;
  text-align: center;
  background-color:green;
  color: white;
  padding: 20px;
  margin: 10px;
}

.mv_btns{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 260px;
}

@media only screen and (max-width: 767px){
  .mv_btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 20px;
  }
}

img{
  width: 100%;
  vertical-align: bottom;
}

.sec_01{
  margin: 80px 0;
}

.sec_01_box{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sec_01_left{
  width: 100%;
}

.sec_01_left h3{
  font-size: 24px;
  margin-bottom: 20px;
}

.sec_01_left p{
  font-size: 16px;
}

p{
  margin: 0;
}

.sec_01_right{
  width: 80%;
}

@media only screen and (max-width: 767px) {
  .sec_01_box{
    display: flex;
   flex-direction: column;
  }
  
  .sec_01_left{
    width: 100%;
  }
  
  .sec_01_left h3{
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .sec_01_left p{
    font-size: 16px;
    margin: 30px;
    line-height: 25px;
  }
  
  p{
    margin: 0;
  }
  
  .sec_01_right{
    width: 80%;
  }
}

.sec_02 h1{
  font-size: 28px;
  margin-bottom: 30px;
}

.sec_02_box{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sec_02_left{
  width: 48%;
}

.sec_02_left p{
  margin: 20px 0;
}

.sec_02_right{
  width: 48%;
}

.sec_02_right p{
  margin: 20px 0;
}

@media only screen and (max-width: 767px) {
  .sec_02_content{
    display: flex;
    flex-direction: column;
  }
  
  .sec_02 h1{
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .sec_02_box{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .sec_02_left {
    width: 100%;
    margin: auto;
  }
  
  .sec_02_left p{
    margin: 15px 0;
  }
  
  .sec_02_right{
    width: 100%;
    margin: auto;
  }
  
  .sec_02_right p{
    margin: 20px;
    line-height: 30px;
  }
}

.sec_03{
  background-color: #cccccc;
  padding: 20px;
  margin: 80px 40px ;
}

.sec_03_box{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sec_03_left{
  width: 50%;
}

.sec_03_right{
  width: 100%;
}

.sec_03_right h2{
  margin: 10px;
}

.sec_03_right p{
  margin: 10px;
}

@media only screen and (max-width: 767px) {
  .sec_03_content{
    display: flex;
    flex-direction: column;
  }
  
  .sec_03{
    background-color: #cccccc;
    padding: 20px;
    margin: 10px 20px ;
  }

  .sec_03_box{
    display: flex;
    flex-direction: column;
  }

  .sec_03_left {
    width:350px;
    margin: 5px ;
  }

  .sec_03_right{
    width: 350px;
  }

  .sec_03_right h2{
    margin: 12px;
    text-align: center;
    font-size: 20px;
  }

  .sec_03_right p{
    margin:auto;
    line-height: 30px;
    font-size: 15px;
  }
}

.sec_04{
  margin: 80px 0;
}

.sec04_title h1{
  margin: 10px;
}

.sec_04_content{
  display: flex;
  justify-content: space-between;
}

.sec_04_box{
  width: 31%;
  display: flex;
  flex-direction: column;
}

.sec_04_box h3{
  font-size: 18px;
  margin: 20px 0;
}

.sec_04 .content_box p{
  margin-top: 10px;
}

@media only screen and (max-width: 767px){
  .sec_04{
    margin: 80px 0;
  }
  
  .sec04_title h1{
    margin: 10px;
  }
  
  .sec_04_content{
    display: flex;
    flex-direction: column;
  }
  
  .sec_04_box{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .sec_04_box h3{
    font-size: 18px;
    margin: 10px 0;
  }
  
  .sec_04 .content_box p{
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.sec_btn{
  background-color: #cccccc;
  padding: 40px;
}

.btns{
  display: flex;
  justify-content: space-between;
}

.btn_box01{
  background-color: white;
  width:100%;
  padding: 40px;
  margin: 20px;
}

.btn_box02{
  background-color: white;
  width:100%;
  padding: 40px;
  margin: 20px;
}

.btn_box01 h3{
  text-align: center;
  margin: 20px;
}


.btn_box02 h3{
  text-align: center;
  margin: 20px;
}


.btn_box01 .btn{
  width: 300px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  display: block;
  text-align: center;
  color: white;
  background-color: palevioletred;
}

.btn_box02 .btn{
  width: 300px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  display: block;
  text-align: center;
  color: white;
  background-color:green
}

@media only screen and (max-width: 767px) {
  .sec_btn{
    background-color: #cccccc;
    padding: 20px 20px;
  }
  
  .btns{
    display: flex;
    flex-direction: column;
  }
  
  .btn_box01{
    background-color: white;
    width:100%;
    padding: 20px;
    margin: 10px auto
    
    
  }
  
  .btn_box02{
    background-color: white;
    width:100%;
    padding: 20px;
    margin: 10px auto
  }
  
  .btn_box01 h3{
    text-align: center;
    margin: 10px;
    font-size: 15px;
  }
  
  
  .btn_box02 h3{
    text-align: center;
    margin: 10px;
    font-size: 15px;
  }
  
  
  .btn_box01 .btn{
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    display: block;
    text-align: center;
    color: white;
    background-color: palevioletred;
  }
  
  .btn_box02 .btn{
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    display: block;
    text-align: center;
    color: white;
    background-color:green
  }
}

.sec_05{
 width: 300px;
 margin-right: auto;
 margin-left: auto;
 margin-top: 400px;
 margin-bottom: 50px;
 padding: 20px;
 display: block;
 text-align: center;
 }

 .sec_05 .sec_05_box h3{
  margin: 10px;
 }

 .sec_05 .sec_05_box p{
  font-size: 18px;
  line-height: 25px;
 }

@media only screen and (max-width: 767px){
  .sec_05{
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 200px;
    margin-bottom: 25px;
    padding: 10px;
    display: block;
    text-align: center;
    }
   
    .sec_05 .sec_05_box h3{
     margin: 5px;
     font-size: 12px;
     text-align: center;
    }
   
    .sec_05 .sec_05_box p{
     font-size: 9px;
     line-height: 14px;
    }
}

.link{
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-color: #cccccc;
}


.link_btns {
  margin-top: 40px;
  margin-bottom: 80px;
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
}

.link_row {
  display: flex;
  justify-content: space-between;
}


.link_btn1 {
  margin-left: auto;
  margin-top: 10px;
}

@media only screen and (max-width: 767px) {
  .link {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #cccccc;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .link_btns {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .link_row {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .link_btn, .link_btn1 {
    font-size: 13px;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
    
  .link_row:last-child {
    justify-content: space-around;
  }
  
  .link_btn, .link_btn1 {
    display: block;
    text-align: center;
    margin: 10px 0;
  }
}


footer p{
  text-align: center;
  font-size: 12px;
  padding: 20px;
}

@media only screen and (max-width: 767px) {
  footer p{
    width: 100%;
    text-align: center;
    font-size: 12px;
    padding: 10px;
  }
}










